<div class="container-fluid">
  <router-outlet></router-outlet>
  <br />
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i><strong>Manage Users</strong>
          </div>
          <div class="card-body">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button aria-controls="navbarSupportedContent" type="button" aria-label="Toggle navigation"
                class="navbar-toggler" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
              <div id="navbarSupportedContent" class="collapse navbar-collapse" aria-expanded="false" aria-hidden="true"
                style="display: none;">
                <ul class="navbar-nav mr-auto">

                </ul>
                <div novalidate="" class="form-inline my-2 my-lg-0 ng-untouched ng-pristine ng-valid">
                  <select (change)="getUserData()" [(ngModel)]="_accountType" class="form-control mr-sm-2">
                    <option value="">All Type of Account</option>
                    <option value="1">Individual</option>
                    <option value="2">Business Accounts</option>
                  </select>
                </div>
                <div novalidate="" class="form-inline my-2 my-lg-0 ng-untouched ng-pristine ng-valid">
                  <input [(ngModel)]="_serchText" type="search" placeholder="Search" aria-label="Search"
                    (input)="onChnageSearchBox(_serchText) " class="form-control mr-sm-2">
                  <button type="button" class="btn btn-outline-success my-2 my-sm-0"
                    (click)="getUserData()">Search</button>
                </div>
              </div>
            </nav>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" (click)="adjustSort('first_name')">First Name<span
                      *ngIf="_sortKey == 'first_name'">{{_sortDirection == 'asc' ? ' ↥' : ' ↧' }}</span></th>
                  <th scope="col" (click)="adjustSort('last_name')">Last Name<span
                      *ngIf="_sortKey == 'last_name'">{{_sortDirection == 'asc' ? ' ↥' : ' ↧' }}</span></th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Acc Type</th>
                  <th scope="col">Status</th>
                  <th scope="col" (click)="adjustSort('createdAt')">Created<span
                      *ngIf="_sortKey == 'createdAt'">{{_sortDirection == 'asc' ? ' ↥' : ' ↧' }}</span></th>
                  <th scope="col" (click)="adjustSort('updatedAt')">Modified<span
                      *ngIf="_sortKey == 'updatedAt'">{{_sortDirection == 'asc' ? ' ↥' : ' ↧' }}</span></th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let u of data | paginate: { itemsPerPage: 10, currentPage: _currentPage, totalItems: _totalItems }; let i = index">
                  <!-- <td>{{ i + 1 }}</td> -->
                  <td>{{ u.first_name }}</td>
                  <td>{{ u.last_name }}</td>
                  <td>{{ u.phone_number }}</td>
                  <td>{{ u.email }}</td>
                  <td>{{ u.sub_user_type == '1' ? 'Individual' : 'Business' }}</td>
                  <td class="text-center">
                    <a href="javascript:void();">
                      <span (click)="changeuserStatus(u._id,(u.is_active=='1' ? 0 : 1))" class="badge "
                        [ngClass]="u.is_active == '1' ? 'badge-success' : 'badge-danger' ">
                        {{u.is_active=='1'?'Active':'Inactive' }}
                      </span>
                    </a>

                  </td>
                  <td>{{ u.createdAt | date:'dd/MM/yyyy' }}</td>
                  <td>{{ u.updatedAt | date:'dd/MM/yyyy' }}</td>
                  <!-- <td></td> -->
                  <td>
                    <button class="actionbtn actionviewbtn" (click)="openForm(u,true)">
                      <i class="fas fa-eye"></i>
                    </button>
                    <button class="actionbtn" (click)="openForm(u,false)">
                      <i class="fas fa-user-edit"></i>
                    </button>
                    <button class="actionbtn actiondelebtn" (click)="deleteUser(u._id)">
                      <i class="fas fa-trash"></i>
                    </button>
                    
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)" previousLabel="Prev"
              nextLabel="Next">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>