<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div [hidden]="!isByPhone" class="card-body">
                <form [formGroup]="loginForm">
                  <h1>Forgot Password</h1>
                  <p class="text-muted">send OTP to your registred mobile number</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-phone"></i></span>
                    </div>
                    <input type="text" name="phone_number" formControlName="phone_number" class="form-control"
                      placeholder="Phone number" required [(ngModel)]="iLogin.phone_number">


                  </div>
                  <div class="input-group mb-3">
                    <span class="text-danger" *ngIf="loginForm.get('phone_number').hasError('required') && submitted">
                      Required</span>
                    <span class="text-danger" *ngIf="loginForm.get('phone_number').hasError('pattern') && submitted">
                      Invalid
                      format</span>
                  </div>

                  <div class="input-group mb-3" *ngIf="ErrorMsg != ''">
                    <span class="text-danger">{{ErrorMsg}}</span>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary px-4" (click)="onSendOTP()">Send OTP</button>
                    </div>
                    <div class="col-3">
                      <button [hidden]="!isByPhone" type="button" class="btn btn-link px-0"
                        (click)="onClickEmail()">Registred email</button>

                      <button [hidden]="isByPhone" type="button" class="btn btn-link px-0"
                        (click)="onClickPhone()">Registred phone number</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="onLogin()">Login</button>
                    </div>
                  </div>




                </form>
              </div>

              <div [hidden]="isByPhone" class="card-body">
                <form [formGroup]="loginForm2">
                  <h1>Forgot Password</h1>
                  <p class="text-muted">send OTP to your registred email number</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-phone"></i></span>
                    </div>
                    <input type="text" name="email" formControlName="email" class="form-control" placeholder="Email"
                      required [(ngModel)]="iLogin.email">


                  </div>
                  <div class="input-group mb-3">
                    <span class="text-danger" *ngIf="loginForm2.get('email').hasError('required') && submitted">
                      Required</span>
                    <span class="text-danger" *ngIf="loginForm2.get('email').hasError('pattern') && submitted">
                      Invalid
                      format</span>
                  </div>

                  <div class="input-group mb-3" *ngIf="ErrorMsg != ''">
                    <span class="text-danger">{{ErrorMsg}}</span>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary px-4" (click)="onSendOTP()">Send OTP</button>
                    </div>
                    <div class="col-3">
                      <button [hidden]="!isByPhone" type="button" class="btn btn-link px-0"
                        (click)="onClickEmail()">Registred email</button>

                      <button [hidden]="isByPhone" type="button" class="btn btn-link px-0"
                        (click)="onClickPhone()">Registred phone number</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="onLogin()">Login</button>
                    </div>
                  </div>




                </form>
              </div>
            </div>

            <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                  </div>
                </div>
              </div> -->

          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong>Validation </strong> <code>was-validated</code>
      </div>
      <div class="card-body">
        <form class="was-validated">
          <div class="form-group">
            <label class="form-col-form-label" for="inputSuccess2">Input is valid</label>
            <input type="text" class="form-control is-valid" id="inputSuccess2">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-group">
            <label class="form-col-form-label" for="inputError2">Input required</label>
            <input type="text" class="form-control" id="inputError2" required>
            <div class="valid-feedback">
              Input is valid.
            </div>
            <div class="invalid-feedback">
              Please provide a valid information.
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->