<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="loginForm">
                    <h1>Set New Password</h1>
                    <p class="text-muted">Set your new password</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" name="newPassword" formControlName="newPassword" class="form-control"
                        placeholder="New Password" required [(ngModel)]="iLogin.newPassword"> 
  
                    </div>
                    <div class="input-group mb-3">
                      <span class="text-danger" *ngIf="loginForm.get('newPassword').hasError('required') && submitted">
                        Required</span>
                      <span class="text-danger" *ngIf="loginForm.get('newPassword').hasError('pattern') && submitted">
                        Invalid
                        format</span>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" name="rePassword" formControlName="rePassword" class="form-control"
                        placeholder="Re-Password" required [(ngModel)]="iLogin.rePassword">
  
                    </div>
                    <div class="input-group mb-3">
                      <span class="text-danger" *ngIf="loginForm.get('rePassword').hasError('required') && submitted">
                        Required</span>
                      <span class="text-danger" *ngIf="loginForm.get('rePassword').hasError('pattern') && submitted">
                        Invalid
                        format</span>
  
                    </div>
                    <div class="input-group mb-3" *ngIf="ErrorMsg != ''">
                      <span class="text-danger">{{ErrorMsg}}</span>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4" (click)="onUpdateNewPassword()">Set Password</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0" (click)="onLogin()">Login</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  